%h2.text-left Welcome
%p1.lead.text-justify To check the latest deals, create an account or login with github.

%h4.text-right
  = button_to "Register or Login with GitHub", '/auth/github', {:style => 'color:#000A96'}

