%h2.text-left Welcome
%p1.lead.text-justify To check the latest deals, create an account or login with github.

%h4.text-left
  = button_to "Register or Login with GitHub", '/auth/github', :class => 'btn btn-dark'
